{% extends "common/main.html" %}
{% load backend_tags %}
{% block css %}
	<link rel="stylesheet" href="/static/js/pmd/css/liMarquee.css">
{% endblock %}


{% block style %}
<style>



    #structure h4 {
        text-transform: none;
        font-size: 14px;
        font-weight: normal;
    }
    #structure p {
        font-size: 13px;
        line-height: 16px;
    }

    .str_wrap{
        padding-left: 3em;
        padding-right: 3em;
        background: #fefefe;
        height: 10em;
        line-height: 2em;
        font-size: 1.2em;
    }

</style>
{% endblock %}


{% block table %}
<div class="row">



<div class="col-lg-8">
        <div id="home_words"></div>


        {% if login_success_flag %}
        <div class="alert border-0 border-start border-5 border-success alert-dismissible fade show py-2">
            <div class="d-flex align-items-center">
                <div class="font-35 text-success"><i class='bx bxs-check-circle'></i>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 text-success">Success Alerts</h6>
                    <div>A simple success alert—check it out!</div>
                </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="notice_panel" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">提醒面板</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    <pre>
                        亲爱的 新华
                         西贝大家庭欢迎你加入！
                        此群是你和甜甜最亲密的连接，你可以：
                         跟着西贝大厨学做私房菜
                         体验新品免费试吃
                         晒厨艺、晒萌娃赢奖品
                         领取各种优惠券

                        还有更多秘密，等你解锁
                        【15元】线上商城券送给你，识别二维码领取
                    </pre>


                    </div>

                </div>
            </div>
        </div>


        <div class="col mt-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Framework graph</h5>
                    <p class="card-text">生成ant样式的HTML测试报告。设计模式为：定义接口消息入参json格式的模板，根据模板生成测试用例py文件，并读取场景参数配置文件，进行数据驱动测试</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>

                <div id="structure">

                </div>
            </div>
        </div>


</div>

<div class="col-lg-4">
    <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><span class="badge bg-primary">最新动向</span></h5>

                <div class="str1 str_wrap" style="height:200px;font-size:smaller">
                        1、用户为超级管理员角色时，则无权限校验，则可以对所有的表进行增删改查，但不能访问所有的菜单 <br>
                        2、超级用户和普通用户必须分配角色后才能访问对应的菜单 <br>
                        3、可以在模板新增的页面查询该层数据，并查询相关的入参详情 <br>
                        4、通过配置中心可以选择默认的数据库和Linux日志服务器 <br>
                        5、通过小工具页面可以测试各个数据库和Linux信息
                </div>
            </div>
        </div>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">环境配置</h5>
            <div style="font-size:smaller;">
                <table class="table">
            <caption>System Configurations</caption>

            <tbody>
            <tr>
                <th scope="row">Environment</th>
                <td>{{config.environment}}</td>
            </tr>

            <tr>
                <th scope="row">Database</th>
                <td>Django</td>
            </tr>

            <tr>
                <th scope="row">Browser</th>
                <td>{{ config.get_browserType_display }}</td>
            </tr>
            <tr>
                <th scope="row">Database</th>
                <td>{{ config.dbinfo.name }}</td>
            </tr>
            <tr>
                <th scope="row">Database IP</th>
                <td>{{ config.dbinfo.dbhost }}</td>
            </tr>
            <tr>
                <th scope="row">Database Type</th>
                <td>{{ config.dbinfo.get_dbtype_display }}</td>
            </tr>
            <tr>
                <th scope="row">Log info</th>
                <td>{{ config.log_server_info.name }}</td>
            </tr>
            <tr>
                <th scope="row">Log IP</th>
                <td>{{ config.log_server_info.logserver }}</td>
            </tr>
            <tr>
                <th scope="row">Log level</th>
                <td>{{ config.get_loglevel_display }}</td>
            </tr>


            <tr>
                <th scope="row">Is_task</th>
                {% if config.is_task %}
                    <td style="color:green"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
    </td>
                {% else %}
                    <td style="color:red"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
    </td>
                {% endif %}
            </tr>


                {% if config.is_task %}
                <tr>
                    <th scope="row">Task</th>
                    <td>{{ config.task }}</td>
                </tr>
                {% endif %}

            <tr>
                <th scope="row">HiddenWinStart</th>
                {% if config.is_HiddenWindowBeforeStart %}
                    <td style="color:green"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
    </td>
                {% else %}
                    <td style="color:red"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
    </td>
                {% endif %}
            </tr>

                    <tr>
                <th scope="row">CloseBroStart</th>
                {% if config.is_CloseBrowserBeforeStart %}
                    <td style="color:green"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
    </td>
                {% else %}
                    <td style="color:red"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
    </td>
                {% endif %}
            </tr>


                    <tr>
                <th scope="row">CloseBroEnd</th>
                {% if config.is_CloseBrowserAfterEnd %}
                    <td style="color:green"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
    </td>
                {% else %}
                    <td style="color:red"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
    </td>
                {% endif %}
            </tr>


                    <tr>
                <th scope="row">APIFileCreate</th>
                {% if config.is_APIcaseFileCreate %}
                    <td style="color:green"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
    </td>
                {% else %}
                    <td style="color:red"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
    </td>
                {% endif %}
            </tr>


                    <tr>
                <th scope="row">APIFileRemove</th>
                {% if config.is_APIcaseFileRemove %}
                    <td style="color:green"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
    </td>
                {% else %}
                    <td style="color:red"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
    </td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">ClearReportLog</th>
                {% if config.is_ClearReportLogBeforeStart %}
                    <td style="color:green"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
    </td>
                {% else %}
                    <td style="color:red"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
    </td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Report</th>
                <td>Allure</td>
            </tr>

            </tbody>
        </table>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}



{% block javascript %}
<script src="/static/plugins/plugins/highcharts/js/highcharts.js"></script>
<script src="/static/plugins/plugins/highcharts/js/exporting.js"></script>
<script src="/static/plugins/plugins/highcharts/js/sankey.js"></script>
<script src="/static/plugins/plugins/highcharts/js/oldie.js"></script>
<script src="/static/plugins/plugins/highcharts/js/organization.js"></script>
<script src="/static/plugins/plugins/highcharts/js/wordcloud.js"></script>
<script src="/static/js/pmd/js/jquery.liMarquee.js"></script>

<script type="text/javascript" language="javascript">

$(document).ready(function(){
    var myModal = new bootstrap.Modal(document.getElementById('notice_panel'), {
    keyboard: false
    });
    if("{{login_success_flag}}"=="True"){
     myModal.show();
    };


    $('.str1').liMarquee({
        direction: 'up'
    });


    var text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum erat ac justo sollicitudin, quis lacinia ligula fringilla. Pellentesque hendrerit, nisi vitae posuere condimentum, lectus urna accumsan libero, rutrum commodo mi lacus pretium erat. Phasellus pretium ultrices mi sed semper. Praesent ut tristique magna. Donec nisl tellus, sagittis ut tempus sit amet, consectetur eget erat. Sed ornare gravida lacinia. Curabitur iaculis metus purus, eget pretium est laoreet ut. Quisque tristique augue ac eros malesuada, vitae facilisis mauris sollicitudin. Mauris ac molestie nulla, vitae facilisis quam. Curabitur placerat ornare sem, in mattis purus posuere eget. Praesent non condimentum odio. Nunc aliquet, odio nec auctor congue, sapien justo dictum massa, nec fermentum massa sapien non tellus. Praesent luctus eros et nunc pretium hendrerit. In consequat et eros nec interdum. Ut neque dui, maximus id elit ac, consequat pretium tellus. Nullam vel accumsan lorem.';
    var text = 'Django Django Django Django json2html PyMySQL numpy matplotlib Django Django Django requests paramiko cchardet retrying PYTHON PYTHON PYTHON BOOTSTRAP5 BOOTSTRAP5 pytest Selenium Jinja2 Jquery BOOTSTRAP5 djangorestframework PyMySQL numpy matplotlib requests paramiko cchardet retrying PYTHON pytest Selenium Jinja2 Jquery BOOTSTRAP5';
    // 注意：这里的代码只是对上面的句子进行分词并计算权重（重复次数）并构建词云图需要的数据，其中 arr.find 和
    // 	reduce 函数可能在低版本 IE 中无法使用（属于ES6新增的函数），如果不能正常使用（对应的函数有报错），请自行加相应的 Polyfill
    //  array.find 的 ployfill 参见：https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Array/find#Polyfill
    // 	array.reduce 的 ployfill ：https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Array/reduce#Polyfill
    var data = text.split(/[,\. ]+/g)
    .reduce(function (arr, word) {
        var obj = arr.find(function (obj) {
            return obj.name === word;
        });
        if (obj) {
            obj.weight += 1;
        } else {
            obj = {
                name: word,
                weight: 1
            };
            arr.push(obj);
        }
        return arr;
    }, []);
    Highcharts.chart('home_words', {
        series: [{
            type: 'wordcloud',
            data: data
        }],
        title: {
            text: 'Main module'
        }
    });



    Highcharts.chart('structure', {
	chart: {
		height: 800,
		inverted: true
	},
	title: {
		text: 'API组织结构'
	},
	series: [{
		type: 'organization',
		name: 'BearFramework',
		keys: ['from', 'to'],
		data: [
			['AutomaticFramework', 'API模块'],
			['API模块', 'CEO'],
			['CEO', 'CTO'],
			['CEO', 'CPO'],
			['CEO', 'CSO'],
			['CEO', 'CMO'],
			['CEO', 'CTP'],
			['CEO', 'HR'],
			['CEO', 'AN'],
			['CPO', 'Py'],
			['CSO', 'Sales'],
			['CMO', 'URL'],
			['CMO', 'header'],
			['CMO', 'body'],
			['CTP', 'expression'],
			['CTP', 'expect'],
		],
		levels: [{
			level: 0,
			color: '#008B8B',
			dataLabels: {
				color: 'black'
			},
			height: 15
		}, {
			level: 1,
			color: '#00FFFF',
			dataLabels: {
				color: 'black'
			},
			height: 15
		}, {
			level: 2,
			color: '#FF4500'
		}, {
			level: 4,
			color: '#F5F5F5'
		}],
		nodes: [{
			id: 'Shareholders'
		}, {
			id: 'Board'
		}, {
			id: 'CEO',
			name: '测试准备流程',
		},  {
			id: 'HR',
			name: '测试报告',
			color: '#00FF7F',
			column:3,
			offset: '-75%'
		},{
			id: 'AN',
			name: '数据分析',
			color: 'orange',
			column:3,
			offset: '75%'
		},{
			id: 'CTO',
			name: '测试项目',
			title:'Project',
			column: 4,
			layout: 'hanging'
		}, {
			id: 'CPO',
			name: '测试套件',
			title:'TestSuit',
			column: 4,
		}, {
			id: 'CSO',
			name: '测试函数',
			title:'TestCase',
			column: 4,
			layout: 'hanging'
		}, {
			id: 'CMO',
			name: '测试模板',
			title:'Template',
			column: 4,
			layout: 'hanging'
		},{
			id: 'CTP',
			name: '测试场景',
			title:'Scenarios',
			column: 4,
			layout: 'hanging'
		}, {
			id: 'Py',
			name: 'py文件',
		},{
			id: 'Sales',
			name: '测试用例'
		}, {
			id: 'URL',
			name: '请求URL'
		},{
			id: 'header',
			name: '请求头'
		},{
			id: 'body',
			name: '请求体'
		},{
			id: 'expression',
			name: '解析表达式'
		},{
			id: 'expect',
			name: '期望值'
		}],
		colorByPoint: false,
		color: '#FFFF00',
		dataLabels: {
			color: 'black'
		},
		borderColor: 'white',
		nodeWidth: 65
	}],
	tooltip: {
		outside: true
	},
	exporting: {
		allowHTML: true,
		sourceWidth: 800,
		sourceHeight: 600
	}
});
})
</script>
{% endblock %}