<div class="modal fade" id="func_helper_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">函数助手</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="small">展示函数的表达式，入参和输出结果<strong>Helper</strong></p>

                <div>
                    <form id="helper_form">{% csrf_token %}

		                <div class="input-group mb-3"> <span class="input-group-text" id="helper_keyword_label">函数名称|表达式</span>
							<input type="search" class="form-control" name="helper_keyword" id="helper_keyword" placeholder="支持模糊搜索" aria-label="Username" required autocomplete="off" aria-describedby="helper_keyword_label">
						</div>

<!--                        <div class="form-group">-->
<!--                            <button type="button"-->
<!--                                    class="btn btn-xxs btn-danger pull-left"-->
<!--                                    id="helper_clear">清空</button>-->

<!--                        </div>-->
                    </form>
                </div>

<!--                <div class="header-notifications-list ps" id="helper_content"></div>-->
                <div class="" id="helper_content" style="max-height:570px;"></div>



                <span class="badge bg-dark">函数功能描述</span>
                 <pre id="helper_desc" class="mt-1"></pre>

                <span class="badge bg-dark">入参详情</span>
                 <pre id="helper_param" class="mt-1"></pre>

                 <span class="badge bg-dark">返回结果</span>
                 <pre id="helper_outcome" class="mt-1"></pre>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


